* {
	margin: 0;
	/* padding: 0; */
	border: 0;
}

/* body	во всех вариантах картинка словно не совпадает по масштабам. Похоже на фигму, только если выключить cover, но тогда картинка не на весь экран */

/* не обрезан, но растянут */
/* body {
	background-image: url(/images/background.jpg);
	background-repeat: no-repeat;
	height: 100vh;
	background-size: 100% 100%;
}  */

/* не растянут, но обрезан */
/* body {
	width: 100%;
	height: 100vh;
	background-image: url(/images/background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}  */

/* что-то среднее между рястяжкой и обрезкой */
.site_header {
	font-family: "Rubik", sans-serif;
}
.container {
	max-width: 100%;
	padding: 0 20px;
	margin: 0 auto;
}

body {
	background: url(/images/background.jpg);
	height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
a {
	color: inherit;
	text-decoration: none;
}

/* Header START */
.header_top {
	color: white;
	padding-top: 24px;
}
.header_row {
	display: flex;
	margin-right: 80px;
	margin-top: 24px;
}

.header_right {
	display: flex;
	margin-left: auto;
	gap: 24px;
}
.header_info {
	display: flex;
	align-items: center;
	gap: 24px;
	font-size: 16px;
	/* margin-right: 24px; */
}
button {
	color: #121212;
	border-radius: 8px;
	padding: 13px 28px;
	font-weight: 700;
	font-size: 16px;
	margin-right: 80px;
}

/* тут идет отступ от верхнего дива, а не от края экрана, как сделать как надо? */
.header_bot_row {
	color: white;
	margin-top: 64px;
}

/* с этим стилем центральное меню идет выше как надо, но цифры все равно вроде не бьются, надо такое? */
.header_bot {
	position: absolute;
	top: 64px;
	left: 50%;
	transform: translateX(-50%);
}

.header_nav ul {
	display: flex;
	list-style: none;
	padding: 0;
	gap: 40px;
	justify-content: center;
	font-size: 18px;
}

/* Header END */

/* Main START */

/* 48 px для размера шрифта?!? у меня на весь экран */
.main {
	margin-top: -60px;
	margin-bottom: 68px;
}
.main_text {
	color: white;
	width: 533px;
	height: 116px;
	margin-top: 182px;
	margin-left: 189px;
	font-family: "Lato", sans-serif;
	font-size: 18px;
	line-height: 57.6px;
}

.row {
	display: flex;
	max-width: 477px;
	max-height: 420px;
	flex-shrink: 0;
	margin-left: 189px;
	margin-top: 82px;
	gap: 72px;
}
.logo {
	display: flex;
	align-items: center;
}

.social {
	display: flex;
	max-height: 60px;
	gap: 8px;
	align-self: flex-end;
	margin-left: -330px;
}
/* Main END */

/* Footer START */

.footer_text {
	color: white;
	text-align: center;
	font-family: Rubik;
	font-size: 12px;
	margin-bottom: 16px;
}
/* Footer END */
